<ion-header>
  <ion-toolbar>
    <ion-title>Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'hotels', item.name]">

    <ion-label text-wrap>
        <h1>{{ item.name }}</h1>
        {{ item.address }}<br>
        {{ item.locality }}<br>
        <ion-item lines="none">
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>{{ item.aggregate_rating }}</ion-label>
        </ion-item>
        <rating [rate]="0" readonly="false" size="default" (rateChange)="onRateChange($event)"></rating>
      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>
